
.singleEmailReq div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.singleEmailReq>div:not(:last-child) * {
    margin: 0;
    padding: 0;
}

.singleEmailReq div p {
    flex-basis: 55%;
}

.singleEmailReq div h6 {
    flex-basis: 55%;
}

.get-all-verification {
    display: flex;
    align-items: center;
}

.emailCircle {
    height: 10px;
    width: 12px;
    border-radius: 25px;
    margin-right: 15px !important;
}
.fontNormal {
    font-weight: normal;
}